.title {
    font-size: 30px;
    font-weight: bold;
}

body{
    background-color: rgb(25,25,25);
    color:white;
    font-family: Arial;
}

.move-icon{
    height:50px;
}

button{
    border-radius: 50px;
}